# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs
.idea/
.vscode/
.DS_Store

# Project Data & Outputs
storage*/
outputs/
tmp/
*.zip

# Dataset Images (Too large for standard Git)
dataset/images_merged/
dataset/images_merged_fake/
dataset/images_noise_fake/

# Logs
*.log

# Models
core/experiments/consistency_check/*.pth
